
nav {
    width:100%;
    height:20px;
    font-size:17px;
    padding: 5px 10px;
    background-color: #f7d06e;
    border-radius: 0px;
    }
.navbar-nav{padding-top:0px;}

.navbar-nav li a:hover {
    color: #1abc9c !important;
    }