/* You can add global styles to this file, and also import other style files */
@media screen and (min-device-width:601px) and (max-device-width:2000px){

header {
     font-family:Calibri;
     }

 .wf-opensans-n4-active .header {
      font-family: 'Open Sans'
      }




.container-fluid {
    padding-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    }


nav {
    width:100%;
    height:20px;
    font-size:17px;
    padding: 5px 10px;
    background-color: #f7d06e;
    border-radius: 0px;
    }
.navbar-nav{padding-top:0px;}
.navbar-nav li a:hover {
    color: #1abc9c !important;
    }

.title{
	font-family: lato,'Noto Sans', sans-serif;
	left: 50%;
    width: 100%;
    top: 45%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    text-align: center;
    position: absolute;
    max-width: 1000px;
    padding: 0px 15px;
	}

body{
 letter-spacing:0;
 font-size:19px;
 }
}
p {font-size: 16px;}

.h1,h1{
    font-weight:700;
    font-height:700;
}
#headline {
        padding: 0.8em;
        color: white;
        font-family: Roboto, helvetica, arial, sans-serif;
        background-color: black;
        background-image: url();
        background-size: cover;
      }

      #headline h1 {
        font-weight: 200;
        font-size: 60px;
        line-height: 1em;
        margin-bottom: 0;
      }

      #headline h2 {
        font-weight: 200;
        font-size: 30px;
        margin-top: 5px;
      }

      #headline #blurb {
        font-weight: 300;
        font-size: 18px;
      }

      #headline #register {
        background-color: #39b1a4;
        background-color: rgba(57,177, 164, 0.7);
        padding: 1em;
      }

      #headline #register h2 {
        font-weight: 100;
        padding: 0;
        margin: 0;
      }

      #headline #register label {
        font-size: 1.2em;
        font-weight: 200;
        padding-top: 12px;
        display: block;
      }

      #headline #register input {
        width: 100%;
        font-size: 18px;
        font-weight: 200;
        padding: 10px;
        box-sizing: border-box;
      }

      #headline #register input[type=submit] {
        background-color: hsl(8, 70%, 54%);
        color: white;
        margin-top: 20px;
        padding: 10px;
        border: none;
        box-sizing: border-box;
        font-size: 18px;
      }
.inputstyle{
    padding: 8px 8px 8px 40px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    appearance: none; max-width: 400px; width: 100%;
}

input::placeholder{
	color: #dddddd;
}

#usrnm{
    background: url('img/user.png');
    background-repeat: no-repeat;
    background-size: 20px auto;
    background-position: 5px; opacity:0.7;
}

#pswd{
    background: url('img/password.png');
    background-repeat: no-repeat;
    background-position: 5px;
    opacity:0.7;
}

.margin {
    margin-bottom: 45px;
}

.p1 ,h4{
        color: ;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-style: bold;
        font-size: 18px;
        letter-spacing: 5px;
        }


.jumbotron {
      background-image: url('');
      background-position: center;
      background-size: cover;
      max-width: 100%;
      height:589px;
      box-sizing:border-box;
      color: #28B463;
      top-margin:50px;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  }

.input-group  {
    padding: 60px 60px 80px 300px;
    position: relative;
    z-index: 2;
    float: center;
    width: 80%;
    margin-bottom: 0;
}
footer {
    background-color: #28B463;
    color: white;
    padding: 15px;
    }




.btn:hover{
    background-color:#3F8645;
    color:#ffffff;
   }


@media screen and (max-width: 810px) {
#section1, #section2, #section3, #section4,section1 {
margin-left: 180px;
}
}

.typewriter h2 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

